@import "tailwindcss";

:root {
  --background: #18181b;
  /* Zinc 950 */
  --foreground: #ffffff;
  --primary: #facc15;
  /* Yellow 400 */
  --primary-foreground: #000000;
  --card: #27272a;
  /* Zinc 800 */
  --card-foreground: #ffffff;
  --muted: #52525b;
  /* Zinc 600 */
  --muted-foreground: #a1a1aa;
  /* Zinc 400 */
  --border: #3f3f46;
  /* Zinc 700 */
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-border: var(--border);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}